## Rider / JetBrains
.idea/
*.sln.DotSettings.user

## Build output
bin/
obj/
TestResults/
*.user
*.vspscc
*.vssscc

## OS files
.DS_Store
Thumbs.db

## Logs
*.log

## Dotnet artifacts
project.lock.json
project.fragment.lock.json
*.nuget.props
*.nuget.targets

## User-specific files
*.suo
*.userosscache
*.sln.docstates

## Other
*.dbmdl
*.bak
*.Backup